$black: #1B1F2B
$white: #FFFF

$orange200: #EFA501
$orange100: #F8E6BE

$green400: #286562
$green300: #3B7E7B
$green200: #627F7E
$green100: #E0F0E5

$grey300: #A6A6A6
$grey200: #D9DFDB
$grey100: #F1F3F2

$beige200: #F4F0E9
$beige100: #F9F7F4

$mercury: #e5e5e5

body
  font-family: "Roboto", serif
  overflow-x: hidden
  background: $mercury

article.Title
  display: flex
  flex-direction: column
  align-items: center

h1.Title__Head
  text-align: center
  margin-top: 135px
  margin-bottom: 30px
  line-height: 73px
  font-size: 59px
  font-weight: 700

p.Title-Description
  width: 400px
  margin-top: 0
  margin-bottom: 100px
  text-align: center
  line-height: 28px
  font-size: 20px
  font-weight: 400

button, label, input, select
  cursor: pointer

@mixin linkHover()
  text-decoration: none
  color: $black
  padding-block: 2px
  border-bottom: 1px transparent solid
  transition: .2s

  &:hover
    border-bottom: 1px $black solid

  &:active
    color: $green300
    border-bottom: 1px $green300 solid

@mixin card($width,$height,$padding)
  position: relative
  width: $width
  height: $height
  border-radius: 50px
  overflow: hidden

  div.Shadow-Gradient
    position: absolute
    z-index: 1
    width: $width
    height: $height
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%)

  div.Card__Content
    position: absolute
    z-index: 2

    width: calc(100% - $padding * 2)
    height: calc(100% - $padding * 2)

    padding: $padding
    color: $white

    h2.Card__Content__Tour-Name
      margin: 0
      font-size: 35px
      font-weight: 500

    h3.Card__Content__Tour-Price
      font-size: 17px
      font-weight: 300
      margin-top: 20px

  a.Card__More
    position: absolute
    display: inline-flex
    gap: 16px
    left: calc($padding - 20px)
    bottom: calc($padding - 7px)

    padding-block: 7px
    padding-inline: 20px

    font-size: 23px
    font-weight: 700
    text-decoration: none
    color: $white
    transition: .3s

    p.Card__More__Text
      margin: 0


  img.Card__Background
    width: 100%
    z-index: -10
    object-fit: cover
    transition: .3s

  &:hover
    img.Card__Background
      scale: 1.2

    a.Card__More
      border-radius: 50px
      background: $green400

      &:active
        background: $orange200
      


