section.Choose-Your-Tour
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

article.Choose-Your-Tour__Title
  h1.Title__Head
    margin-bottom: 32px

div.Choose-Your-Tour__Links
  display: inline-flex
  gap: 30px

label.Choose-Your-Tour__Links__Label
  font-size: 23px
  font-weight: 700
  color: $black

  padding-block: 4px
  border-bottom: 3px $mercury solid
  transition: .2s

input.Choose-Your-Tour__Links__Input
  display: none

  &:hover+label.Choose-Your-Tour__Links__Label
    border-bottom: 3px $black solid

  &:checked+label.Choose-Your-Tour__Links__Label
    color: $orange200
    border-bottom: 3px $orange200 solid


div.Choose-Your-Tour__Cards-Block
  margin-top: 100px
  width: 80%
  justify-content: center
  display: flex
  flex-wrap: wrap
  gap: 30px

div.Card
  +card(370px,531px,50px)
  
  h2.Card__Content__Tour-Name
    line-height: 122%
    width: 200px

