header
  color: white
  height: 688px
  padding-top: 143px

  img.Header__Background
    position: absolute
    top: 0
    left: 50%
    transform: translate(-50%, 0)
    z-index: -1
    width: 1920px
    height: 831px

  div.Header__Main-Content
    margin: 0 auto

    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    width: 768px
    text-align: center

    h1
      line-height: 105px
      letter-spacing: 0.02em
      font-weight: 700
      font-size: 96px

    p
      margin-top: -10px
      font-weight: 400
      font-size: 20px
      width: 562px

    button
      margin-top: 35px
      width: 118px
      height: 34px
      font-size: 17px
      border-radius: 10px
      border: none
      transition: .2s

      &:hover
        background: $orange
        color: white

      &:active
        color: $black
        background: #F8E6BE

