.History-Cards
  display: flex
  flex-direction: column
  row-gap: 50px

  .Card
    +Card(1170px,567px)
    margin-inline: auto

    .Card__Content
      padding: 60px

      h3
        padding-top: 20px
        line-height: 28px
        font-size: 20px
        width: 554px

      a.Card__More
        margin-left: 10px
        margin-bottom: 25px
        padding-block: 7px

    img.History-Background
      width: 1170px
      height: 567px
      transition: .3s


    ul
      margin-left: -8px
      margin-top: 27px

    .Card__Social-Media
      position: absolute
      display: inline-flex
      z-index: 2
      gap: 35px
      bottom: 55px
      right: 60px
      a
        font-size: 20px
        height: 28px
        +linkAnim
        color: white
        &:hover
          border-bottom: 1px white solid
        &:active
          border-bottom: 1px $green solid

    &:hover
      cursor: pointer

      a.Card__More
        background-color: #286562
        &:active
          background: $orange

      img.History-Background
        scale: 1.05
