.Tour-Reviews__Reviews-Cards
  display: inline-flex
  justify-content: center
  width: 100%
  gap: 30px

  .Reviews_Cards__Card
    position: relative
    padding: 40px
    width: 490px
    height: 593px
    border-radius: 50px
    background: $beige

    p
      margin: 0
      width: 490px
      font-size: 23px
      font-weight: 700
      text-wrap: normal

    .Reviews_Cards__Card__User
      position: absolute
      display: inline-flex
      justify-content: space-between
      width: 490px
      bottom: 40px

      div
        width: 415px

      img
        width: 75px
        height: 75px
        border-radius: 50%

      h2
        color: $black
        font-size: 35px
        font-weight: 500
        margin: 0

      p
        margin-top: 10px
        margin-bottom: 0
        color: $grey
        font-size: 17px
        letter-spacing: -0.01em

@media (max-width: 1024px)
  .Tour-Reviews__Reviews-Cards
    gap: 18px

    .Reviews_Cards__Card
       width: 370px
       height: 769px

       p
         margin-top: 10px
         width: 370px

       .Reviews_Cards__Card__User
         width: 295px
         h2
           width: 295px
         p
           width: 295px

@media (max-width: 900px)
  .Tour-Reviews__Reviews-Cards
    flex-direction: column
    align-items: center

    .Tour-Reviews-Tour__Title
      h1.Title
        margin-top: 70px

      p.Title-Description
        margin-bottom: 45px

    .Reviews_Cards__Card
      padding: 20px
      width: 280px

      p
        font-size: 16px
        width: 100%
        line-height: 22.72px

      .Reviews_Cards__Card__User
        div
          width: 100px
