div.History-Cards
  width: 100%
  display: inline-flex
  flex-direction: column
  align-items: center
  row-gap: 50px

div.History-Cards__Card
  +card(1170px,567px,60px)

div.Card__Content
  h2.Card__Content__Tour-Name
    width: 100%

  h3.Card__Content__Description
    margin-top: 37px
    width: 554px
    font-weight: 400
    font-size: 20px
    line-height: 28.4px

div.Card__Social-Media
  position: absolute
  right: 60px
  bottom: 60px

  display: inline-flex
  gap: 35px
  z-index: 1

  a.Card__Social-Media__Link
    +linkHover
    text-decoration: none
    color: $white
    font-size: 20px

    &:hover
      border-bottom: 1px $white solid

    &:active
      color: $orange200
      border-bottom: 1px $orange200 solid
