div.Tour-Photos__Collection
  display: flex
  align-items: center
  flex-direction: column
  gap: 30px

div.Collection__First-Line, div.Collection__Third-Line, div.Collection__Second-Line
  display: inline-flex
  gap: 30px

  img.Collection__First-And-Third-Line__Image
    object-fit: cover
    width: 444px
    height: 300px
    border-radius: 50px

  img.Collection__Second-Line__Image
    object-fit: cover
    width: 350px
    height: 301px
    border-radius: 50px
