.Tour-Reviews__Reviews-Cards
  display: inline-flex
  justify-content: center
  width: 100%
  gap: 30px

  .Reviews_Cards__Card
    position: relative
    padding: 40px
    width: 490px
    height: 593px
    border-radius: 50px
    background: $beige

    p
      margin: 0
      width: 490px
      font-size: 23px
      font-weight: 700
      text-wrap: normal

    .Reviews_Cards__Card__User
      position: absolute
      display: inline-flex
      justify-content: space-between
      width: 490px
      bottom: 40px

      div
        width: 415px

      img
        width: 75px
        height: 75px
        border-radius: 50%

      h2
        color: $black
        font-size: 35px
        font-weight: 500
        margin: 0

      p
        margin-top: 10px
        margin-bottom: 0
        color: $grey
        font-size: 17px
        letter-spacing: -0.01em

