@media (max-width: 1900px)
  div.Choose-Your-Tour
    max-width: 90%

    div.Choose-Your-Tour__Cards-Block
      gap: 18px

      div.Card
        width: 450px

        h2
          width: 350px

        h3
          top: 110px

        img.Choose-Your-Tour__Card__Background
          position: absolute
          left: 40px
          bottom: 10%
          scale: 1.5

        &:hover
          img.Choose-Your-Tour__Card__Background
            scale: 1.7

@media (max-width: 1020px)
  div.Choose-Your-Tour
    width: 100%

    h1.Title
      margin-top: 75px

    div.Choose-Your-Tour__Links
      flex-wrap: wrap
      margin-top: 30px
      margin-inline: 0
      gap: 10px

      line-height: 16px
      width: 80%
      padding-inline: 10%

      label
        font-size: 16px

    div.Choose-Your-Tour__Cards-Block
      flex-wrap: wrap
      margin-top: 45px

      div.Card
        +Card(318px,318px)

        img.Choose-Your-Tour__Card__Background
          scale: 1
          transform: translate(-16%,10%)

        &:hover
          img.Choose-Your-Tour__Card__Background
            transform: translate(-15%,5%)
            scale: 1.2

      div.Lake:hover,div.Beach:hover,div.City:hover
          img.Choose-Your-Tour__Card__Background
            transform: translate(-15%,15%)
            scale: 1.2

      div.Lake,div.Beach,div.City
        img.Choose-Your-Tour__Card__Background
          transform: translate(-18%,15%)
