@media (max-width: 1900px)
  .History-Cards
    .Card
      +Card(70vw,40vw)
      @media (max-width: 1200px)
        +Card(918px,567px)

      img.History-Background
        object-fit: cover
        width: 100%
        height: 100%

      .Card__Content
        h2
          font-size: 2.2vw
          @media (max-width: 1200px)
            font-size: 35px


        h3
          font-size: 1.2vw
          @media (max-width: 1200px)
            font-size: 20px

        .Card__More
          bottom: 2vw

@media (max-width: 900px)
  .History-Cards
    row-gap: 20px
    margin-top: 45px

    .Tour-Reviews__Title
      .Title
        padding-inline: 10px

    .Card
      +Card(80vw,455px)
      @media (max-width: 500px)
       +Card(318px,455px)

      .Card__Content
        padding: 30px

        h2
          width: auto
          @media (max-width: 500px)
            width: 150px
          font-size: 23px

        h3
          margin-top: 0
          width: auto
          @media (max-width: 500px)
            width: 263px
          font-size: 16px
          line-height: 23px

          ul
            padding-left: 35px
            margin-top: 20px

        .Card__More
          left: 5px
          bottom: 10px
          font-size: 16px
          font-weight: 400
          gap: 22px

          img
            margin-top: 2px
            height: 20px

      .Card__Social-Media
        bottom: 30px

        a
          font-size: 16px
        @media (max-width: 650px)
          display: none



