@media (max-width: 1900px)
  div.Reviews_Cards__Card
    width: 40%

@media (max-width: 1300px)
  div.Tour-Reviews__Reviews-Cards
    gap: 18px

  div.Reviews_Cards__Card
    width: 370px
    height: 761px

@media (max-width: 1000px)
  div.Reviews_Cards__Card
    width: 278px
    height: auto
    padding: 20px
    border-radius: 20px

    p.Reviews_Cards__Text
      width: 99%
      font-size: 16px
      line-height: 22.9px

  div.Reviews_Cards__Card__User
    margin-top: 40px

    img.Card__User__Picture
      width: 75px
      height: 75px

  div.Card__User__Information
    margin-top: 18px
    margin-bottom: 0
    row-gap: 10px

    h2.User__Information__Name
      font-size: 23px
      font-weight: 700
      letter-spacing: 0.04em

    p.User__Information__Tour-Name
      font-size: 16px

@media (max-width: 700px)
  div.Tour-Reviews__Reviews-Cards
    gap: 21px
    flex-direction: column
    align-items: center

