@media (max-width: 1900px)
  .Tour-Photos

    .Tour-Photos__Title
      h1
        margin-top: 130px

    .Tour-Photos__Collection
      width: 100%
      margin-inline: auto
      align-items: center

      .Collection__First-Line,.Collection__Third-Line
        gap: 20px

        img
          width: 314.5px
          height: 300px

        .Desert
          display: none

        .Rowing
          display: none

      .Collection__Second-Line
        gap: 20px

        div
          width: 231px
          height: 301px
          img
            transform: translate(-655px,-300px)

        .Tent
          img
            scale: 1
            transform: translate(-50px,0)

        .Bridge
          display: none

@media (max-width: 900px)
  .Tour-Photos

    .Tour-Photos__Title
      h1
        margin-top: 50px

    .Tour-Photos__Collection
      width: 100%
      padding: 0
      margin-inline: auto
      row-gap: 18px

      .Collection__First-Line,.Collection__Third-Line
        img
          border-radius: 20px
          width: 150px
          height: 120px

        .Hills
          display: none

        .BusyStreet
          display: none

      .Collection__Second-Line
        gap: 10px

        div
          border-radius: 20px
          width: 100px
          height: 110px

          img
            transform: translate(-220%,-200%)
            scale: .2

        .Tent
          img
            scale: .4
            transform: translate(-350px,-250px)

        .Map
          display: none

      .Collection__Third-Line
        gap: 10px

        img
          width: 154px
          height: 108px