@media (max-width: 1900px)
  .History-Cards
    .Card
      width: 918px

@media (max-width: 900px)
  .History-Cards
    row-gap: 20px

    .Tour-Reviews__Title
      .Title
        padding-inline: 10px

    .Card
      border-radius: 20px
      width: 318px
      height: 455px

      h2
        left: 20px
        top: 22px
        width: 150px
        font-size: 23px

      h3
        left: 20px
        top: 120px
        width: 263px
        font-size: 16px
        line-height: 23px
        ul
          padding-left: 35px
          margin-top: 20px

      div.Shadow-Gradient
        border-radius: 20px

      .Card__Social-Media
        display: none

      img
        transform: translate(-40%,-12%)
        scale: .8

      .Card__More
        z-index: 1
        position: absolute
        font-size: 16px
        font-weight: 400
        width: 123px
        left: 30px
        margin: 0
        bottom: 28px
        height: 25px
        display: inline-flex
        align-items: center
        gap: 18px
        img
          height: 20px
