@media (max-width: 1900px)
  div.Reviews_Cards__Card
    width: 40%

@media (max-width: 1300px)
  div.Tour-Reviews__Reviews-Cards
    gap: 18px

  div.Reviews_Cards__Card
    width: 370px
    height: 761px