@media (max-width: 1024px)
  .Tour-Reviews__Reviews-Cards
    gap: 18px

    .Reviews_Cards__Card
      width: 370px
      height: 769px

      p
        margin-top: 10px
        width: 370px

      .Reviews_Cards__Card__User
        width: 295px
        h2
          width: 295px
        p
          width: 295px

@media (max-width: 900px)
  .Tour-Reviews__Reviews-Cards
    flex-direction: column
    align-items: center

    .Tour-Reviews-Tour__Title
      h1.Title
        margin-top: 70px

      p.Title-Description
        margin-bottom: 45px

    .First-User
      height: 378px

    .Second-User
      height: 562px

    .Reviews_Cards__Card
      border-radius: 20px
      padding: 20px
      padding-block: 15px
      width: 280px

      p
        font-size: 16px
        width: 98%
        line-height: 22.72px

      .Reviews_Cards__Card__User
        width: 278px
        align-items: flex-end
        bottom: 15px

        div
          width: 100px

          h2
            font-size: 23px

          p
            font-size: 16px
